@model ControleEstoqueApp.Models.ItemEstoques
@{
    ViewData["Title"] = "DeleteEstoque";
    Layout = "~/Views/Shared/_estoquesLayout.cshtml";
}

<h1>Deletar Estoque</h1>

<form asp-action="DeleteEstoque" method="post">
    <input type="hidden" value="@Model.ItemEstoqueId" name="ItemEstoqueId" />
    <input type="image" src="/icon/close.png" />
</form>