<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@model IEnumerable<ControleEstoqueApp.Models.ItemEstoques>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_estoquesLayout.cshtml";
}

<h1>Estoques</h1>

<a asp-action="AddEstoque" class="btn btn-sm btn-primary">Adicionar Estoque</a>
<a asp-action="GetEstoque" class="btn btn-sm btn-secondary">Obter Estoque</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Detalhes</th>

            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estoque in Model)
        {
            <tr>
                <td>@estoque.ItemEstoqueId</td>
                <td>@estoque.Nome</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Detalhes">
                        Exibir  do estoque
                    </button>
                </td>
                <td>
                    <a asp-action="UpdateEstoque" asp-route-id="@estoque.ItemEstoqueId"><img src="/icon/edit.png" /></a>
                </td>
                <td>
                    <form asp-action="DeleteEstoque" method="post">
                        <input type="hidden" value="@estoque.ItemEstoqueId" name="ItemEstoqueId" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
        }
      
    </tbody>
</table>


<div class="modal fade" id="Detalhes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Detalhe do estoque</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-striped table-bordered m-2">
                    <thead>
                        <tr>
                            <td>Id do Produto</td>
                            <td>Nome do Produto</td>
                            <td>Quantidade Disponivel</td>
                        </tr>
                    </thead>
                    <tbody>
                    <td>10</td>
                    <td>Caneta</td>
                    <td>300</td>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>