@model ControleEstoqueApp.Models.ItemEstoques
@{
    ViewData["Title"] = "UpdateEstoque";
    Layout = "~/Views/Shared/_estoquesLayout.cshtml";
}

<h1>UpdateEstoque</h1>
<a asp-action="Index" class="btn btn-sm btn-success">Retornar</a>


<form method="post">
    <div class="form-group">
        <label asp-for="ItemEstoqueId"></label>
        <input class="form-control" asp-for="ItemEstoqueId" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input class="form-control" asp-for="Nome" />
    </div>
    <div class="form-group">
        <label asp-for="ProdutoId"></label>
        <input class="form-control" asp-for="ProdutoId" />
    </div>
    <div class="form-group">
        <label asp-for="LojaId"></label>
        <input class="form-control" asp-for="LojaId" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Atualizar</button>
    </div>
</form>


@if (ViewBag.Result == "Sucesso")
{
    <h2>Estoque</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                
                <th>Nome</th>
                <th>Produto</th>
                <th>Loja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>@Model.Nome</td>
                <td>@Model.ProdutoId</td>
                <td>@Model.LojaId</td>
            </tr>
        </tbody>
    </table>
}

